## Basics -> Data types

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

Data types in python:

1. Numeric types: int, float
2. Sequence types: list, tuple, range
3. Boolean type
4. Mapping type: Dict
5. Set types: set, frozen set.
6. String type: str

### Integers

Integer literals are created by any number without a decimal or complex component.

In [ ]:
a = 300 # a is an interger
print(type(a))

<class 'int'>

### Floats

Float literals can be created by adding a decimal component to a number.

In [ ]:
#float
x = 1.56
print(type(x))

<class 'float'>

### Boolean

Boolean can be defined by typing True/False without quotes

In [ ]:
# boolean
b1 = True
b2 = False

print(type(b2))

<class 'bool'>

In [ ]:
a = 100
b = 200
print(b)
a

200

100

### Strings

String literals can be defined with any of single quotes ('), double quotes (") or triple quotes (''' or """). All give the same result with two important differences.

If you quote with single quotes, you do not have to escape double quotes and vice-versa.
If you quote with triple quotes, your string can span multiple lines.

In [ ]:
# string
name1 = 'I love India'
name = "I'm"
print(type(name1))

<class 'str'>

### Comments

In [ ]:
# This is a single line comment

In [ ]:
"""
This is a multi-line comment.
Yes, it truly is a multi-line comment.
"""

'\nThis is a multi-line comment.\nYes, it truly is a multi-line comment.\n'

### Variables

#### Definining

A variable in Python is defined through assignment. There is no concept of declaring a variable outside of that assignment.

In [ ]:
a = 10
t = 20

print(t)
print(a)

20
10

#### Dynamic Typing

In Python, while the value that a variable points to has a type, the variable itself has no strict type in its definition. You can re-use the same variable to point to an object of a different type. It may be helpful to think of variables as "labels" associated with objects.

In [ ]:
t = 100
t

100

In [ ]:
t = 'hi'
t

'hi'

In [ ]:
print(t, t, t)

hi hi hi

#### Strong Typing

While Python allows you to be very flexible with your types, you must still be aware of what those types are. Certain operations will require certain types as arguments.

In [ ]:
'I am' + 5 + 'years old' # 'I am 5 years old'

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = 5
type(a)

int

In [ ]:
a = str(5)
print(type(a))
a

<class 'str'>

'5'

In [ ]:
v = 'I am ' + str(5) + ' years old'
v

'I am 5 years old'

In [ ]:
b = 'hello'
int(b)

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
b = '50'
int(b)

50

In [ ]:
a = 4.2
str(a)

'4.2'

# List

1. Ordered
2. Mutable
3. Dynamic
4. Can contain any arbitrary objects.
5. Can take any other types

To learn:
1. List creation
2. Size of list
3. methods: append, extend, insert
4. Accesing elements from list
5. Removing elements from list: remove, pop
6. Slicing
7. List comprehension (Will again look into it during fuctions)

In [ ]:
[] #empty list symbol   # [] -> list

[]

In [ ]:
a = []
print(type(a))

<class 'list'>

In [ ]:
a = [10, 20, 30, 40, 50]
a

[10, 20, 30, 40, 50]

In [ ]:
print(len(a))

5

In [ ]:
b = [1, 'Besant',4, 55, 6,'s']
len(b)

6

In [ ]:
max(b)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
l = [10, 20, 40, 50, 30]
min(l)

10

In [ ]:
l = [20, 40, 100, 30]

In [ ]:
max(l)

100

## Slicing and indexing

**Below image represents the index position of the list of string 'GEEKSFORGEEKS'. This is just an example.**

![slicing_indexing_image.JPG]()

##  [start:stop:step]

This is the syntax for slicing the lists. This slicing works depending on the need of slicing the elements from the list.

In [ ]:
a = ['A','B','C','D','E','F', 'G']
print(a[0])

A

In [ ]:
a[2:5] # Print index position at 2, 3, 4

['C', 'D', 'E']

In [ ]:
# a = A,B,C,D,E,F,G
a[3:]

['D', 'E', 'F', 'G']

In [ ]:
a[::]

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [ ]:
a[:4]

['A', 'B', 'C', 'D']

In [ ]:
a[:len(a)]

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [ ]:
a[:len(a):2]

['A', 'C', 'E', 'G']

In [ ]:
a = 'Geek !'
len(a)

6

In [ ]:
my_list = ['hello','world','India',4,5]

In [ ]:
# From 0 to 1st element
n = 2
my_list[0:n] #[0:2] -> 0,1

['hello', 'world']

In [ ]:
my_list[0:3] #0,1,2

['hello', 'world', 'India']

In [ ]:
len(my_list)

In [ ]:
my_list

['hello', 'world', 'India', 4, 5]

In [ ]:
# From 2 to 8th element -> If length is less than range, prints till last
my_list[2:8]

['India', 4, 5]

In [ ]:
my_list

In [ ]:
# [start:stop:step]

#[::] -> :- default start(0), :- default stop(n) or len(list)

In [ ]:
#print(my_list[::])
print(my_list[:3])

In [ ]:
my_list

In [ ]:
# To print the list from start with step
#[start:stop:step]

my_list[::2] # :-start, :-stop, 2-step

In [ ]:
# To print list from start no till end
my_list[0:] # -> ::

In [ ]:
# To print list from start no till end
my_list[1:]

In [ ]:
lis = [0,1, 2, 3, 4, 5, 6, 7, 8]
lis[::2]

[0, 2, 4, 6, 8]

In [ ]:
# To print entire list (start and end as default)
my_list[::]

### Negative slicing

In [ ]:
a = ['A','B','C','D','E','F', 'G']
a[-1]

'G'

In [ ]:
a[:-2]

['A', 'B', 'C', 'D', 'E']

In [ ]:
a[:5]

['A', 'B', 'C', 'D', 'E']

In [ ]:
a[-1:-5:-2] # A, B, C, D, E, F, G

['G', 'E']

In [ ]:
a[-1:-5:-1]

['G', 'F', 'E', 'D']

In [ ]:
my_list = ['hello','world','India',4,5]

In [ ]:
# Slice from default start till predefined element from last
my_list[:-2] # -> 0 to -3

['hello', 'world', 'India']

In [ ]:
my_list

In [ ]:
a = [10, 20, 30, 40, 50, 60, 70, 80]
a[-1:-5:-2]

[80, 60]

In [ ]:
my_list

['hello', 'world', 'India', 4, 5]

In [ ]:
# Print elements from predefined start and predefined end in negative slice
my_list[-1:-4:-2]

[5, 'India']

In [ ]:
my_list

In [ ]:
# Print elements in reverse using slicing
print(my_list[::2], ' - two steps forward')
print(my_list[::-2], ' - two steps reverse')
print(my_list[::-1], '- total reverse')

['hello', 'India', 5]  - two steps forward
[5, 'India', 'hello']  - two steps reverse
[5, 4, 'India', 'world', 'hello'] - total reverse

In [ ]:
my_list = ['hello', 'world', 'India', 4, 'Besant']

In [ ]:
# Print elements from reverse till predefined start
print(my_list[3:-4])
print(my_list[4::-2])
print(my_list[3::-3])

[]
['Besant', 'India', 'hello']
[4, 'hello']

In [ ]:
my_list

# Built-in functions in list

### Append

Adding elements to the list at the end of list

In [ ]:
a = [1,2,3]
a

[1, 2, 3]

In [ ]:
a.append(4)
a

[1, 2, 3, 4, 4, 4, 4]

In [ ]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
b = [20, 30, 40]
b.append(100, 200)
b

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
l = [10, 20, 30]
l.append('These are numbers')
print(l)

[10, 20, 30, 'These are numbers']

In [ ]:
a = ["apple", "banana", "cherry"]
a.append('Grapes')
print(a)
b = ["Ford", "BMW", "Volvo"]
#c = [10, 20, 30]
a.append(b)
#a.append(c)
#print(a)
#a
print(a)
#print(b)

['apple', 'banana', 'cherry', 'Grapes']
['apple', 'banana', 'cherry', 'Grapes', ['Ford', 'BMW', 'Volvo']]

### pop

Syntax: list.pop()

In [ ]:
my_list = ['hello','world','India',4,5]
my_list

['hello', 'world', 'India', 4, 5]

In [ ]:
my_list.pop(2)
print(my_list)

['hello', 'world', 4, 5]

In [ ]:
my_list.pop(2)
my_list

['hello', 'world', 5]

In [ ]:
#my_list = my_list.pop(1)
#my_list

In [ ]:
my_list = ['hello','world','India',4,5]

In [ ]:
my_list.pop() # Default, the last elemnt will be removed from the list.
my_list

['hello', 'world', 'India', 4]

### Extend

In [ ]:
my_list = ['hello','world','India',4,5]
my_list

['hello', 'world', 'India', 4, 5]

In [ ]:
my_list.append(34)
my_list

['hello', 'world', 'India', 4, 5, 34]

In [ ]:
my_list.extend(34)   # ([34])

TypeError: 'int' object is not iterable

In [ ]:
my_list.extend([44])  #([44])

In [ ]:
my_list

['hello', 'world', 'India', 4, 5, 34, 44]

In [ ]:
my_list.extend([55, 65, 75])
my_list

['hello', 'world', 'India', 4, 5, 34, 44, 55, 65, 75]

In [ ]:
a = [10, 20, 30, 40, 50]
b = [1000, 2000]

a.extend(b) #a.append(b)
print(a)

[10, 20, 30, 40, 50, 1000, 2000]

In [ ]:
my_list.extend([3, 'st'])

In [ ]:
my_list

['hello', 'world', 'India', 4, 5, 34, 44, 55, 65, 75, 3, 'st']

### Copy

In [ ]:
my_list = ['hello','world','India',4,5]
my_list

['hello', 'world', 'India', 4, 5]

In [ ]:
copied_list = my_list.copy()

In [ ]:
copied_list

['hello', 'world', 'India', 4, 5]

In [ ]:
copied_list[0]

'hello'

### List is Mutable

In [ ]:
copied_list[0] = 55

In [ ]:
copied_list

[55, 'world', 'India', 4, 5]

In [ ]:
print(copied_list[1])

world

In [ ]:
copied_list[1] = 'string'
copied_list

[55, 'string', 'India', 4, 5]

### Index

Index -> list.index(element, start, end)

In [ ]:
my_list

['hello', 'world', 'India', 4, 5]

In [ ]:
my_list.index(345)

ValueError: 345 is not in list

In [ ]:
m = ['a', 10, 20, 30, 30, 40]
m.index(30) # 3rd position

3

In [ ]:
my_list

['hello', 'world', 'India', 4, 5]

In [ ]:
my_list.index(4)

3

In [ ]:
my_list.index('India', 1, len(my_list)) #(element, start, stop)

2

In [ ]:
my_list

['hello', 'world', 'India', 4, 5]

In [ ]:
my_list.index('world', 3, 5)

ValueError: 'world' is not in list

In [ ]:
my_list.index('hello', 0)

In [ ]:
my_list

### Insert

Syntax:

list.insert(index_position, element)

In [ ]:
my_list

['hello', 'world', 'India', 4, 5]

In [ ]:
my_list.insert(0, 'welcome')

In [ ]:
my_list

['welcome', 'hello', 'world', 'India', 4, 5]

In [ ]:
my_list.insert(2, 'Python')
my_list

['welcome', 'hello', 'Python', 'world', 'India', 4, 5]

### Sort

In [ ]:
a = [1,23, 45, 6]

In [ ]:
a.sort()
a

[1, 6, 23, 45]

In [ ]:
a.sort(reverse=True)
a

[45, 23, 6, 1]

In [ ]:
s = ['Alpha', 'Beta', 'Algo', 'Enemy']
s.sort(reverse=True)
s

['Enemy', 'Beta', 'Alpha', 'Algo']

### List of list

In [ ]:
a = [10, 20, 30, 40]
a[2]

In [ ]:
a = [10, ['A', 'B', 'C'], 20, 30, [[40,20], 50]]

a[4][0][1]

In [ ]:
a[0]

In [ ]:
a[1][2]

# String and its functions

In [ ]:
# Creating a string using '',"","""

In [ ]:
a = 'I am taking Python tutorial'
type(a)

In [ ]:
b = 'he oo%w3343'
print(len(b))

In [ ]:
print(a)
print(len(a))

In [ ]:
a = "I'm taking python course"
a

In [ ]:
b = 'Hello '
print(len(b))

### Join

Syntax -> 'Something to join'.join(list)

Join works only for strings

In [ ]:
 #join -> ''.join(list_name)

In [ ]:
# Join
a = [1,'list','tuple','dict']
v = (' '.join(a))
v

In [ ]:
# Join
a = ['type','list','tuple','dict']
v = ('10 '.join(a))
v

In [ ]:
# Firstname middlename lastname

### Split Method

In [ ]:
a = "I'm taking python course"
a

In [ ]:
b = a.split()
b

In [ ]:
a = "I'm taking python course"
a

In [ ]:
# split method
b = a.split('t')
b

In [ ]:
[] # empty list

'' # empty string

In [ ]:
c = 'Hello'
c =c.split('l')
c

In [ ]:
l = 'a      b'
l.split(' ')

In [ ]:
a = 'How are you?'
a.split()

In [ ]:
a = '10 20 30 40 50'
res = a.split()
res

In [ ]:
print(type(a))
print(type(res))

In [ ]:
a = 'Helloworld'
a[1:6] # 1, 2, 3, 4, 5

In [ ]:
s = [10,20,30,40,50]
s.split()

In [ ]:
# Checking conditions

In [ ]:
a = 'Hello'

In [ ]:
# is numeric
a.isnumeric()

In [ ]:
b = '123'
b.isnumeric()

In [ ]:
a.isalpha()

In [ ]:
a.endswith('o')

In [ ]:
a

In [ ]:
# Count method
a = 'helloo'
a.count('o')

In [ ]:
# Find method
a.find('y')

In [ ]:
a = ['H', 'e', 'l', 'o']
a.index('l')

In [ ]:
# list.index() -> For index position in list
# string.find() -> For index position in string

# Dictionaries

Dict works with key value pair.

Dict methods

In [ ]:
a = {}
type(a)

In [ ]:
a = {'Name': 'Python', 'Place': 'Bangalore', 'Students': 7, 'Day': 'Monday'}
a

In [ ]:
a = {'Name': 'Python', 'Place': 'Bangalore', 'Students': 7, 'Days': ['Monday', 'Wednesday']}
a

In [ ]:
a.keys()

In [ ]:
a.values()

In [ ]:
a.items()

In [ ]:
print(a.keys(), a.values())
print(a.items())

In [ ]:
# items
# keys
# values

In [ ]:
b = a.keys()

In [ ]:
# List

lis = [10, 20, 30, 40]
print(lis[1]) # Index position


# Dict

d = {'Name': 'Python', 'Place': 'Bangalore', 'Students': 7, 'Days': ['Monday', 'Wednesday']}
print(d['Name']) # give keys to get value

In [ ]:
print(d['Days'])

In [ ]:
print(d['Days'])
print(d['Days'][1])

In [ ]:
a.values()

In [ ]:
h = a.values()
h[0]

In [ ]:
b = list(a.values())
b

In [ ]:
d = {'Name': 'Python', 'Place': 'Offline'}
list(d.keys())

In [ ]:
b = a.values()
b

In [ ]:
b[3][0]

In [ ]:
b = list(a.keys())[1]
b

In [ ]:
d = {'Location':{'sub-location':'North bangalore'}}

d['Location']

In [ ]:
res = {46:{'key':{'Hello':'Values'}}}

# Values
res[46]['key']['Hello']

In [ ]:
print(res[46])
print(res[46]['key'])
print(res[46]['key']['Hello'])

In [ ]:
res[46]['key']['Hello']

In [ ]:
a = {'Lilly':45,
     'Jasmine':56,
     46:{'key':{'Hello':'Values'}},
     45:65}

In [ ]:
b = {[45, 35]: 'Helo'}
b

### Inserting into dictionary

In [ ]:
d = {}

In [ ]:
# d[key] = Value

In [ ]:
d['Place'] = 'Bangalore'
print(d)

{'Place': 'Bangalore'}

In [ ]:
d['Time'] = '7.00AM'
d

{'Place': 'Bangalore', 'Time': '7.00AM'}

In [ ]:
d['Days'] = ['Monday', 'Tuesday']
d

## Dictionary methods

In [ ]:
d = {'Place': 'Bangalore', 'Time':'7 AM', 'Days':['Monday', 'Wednesday']}

### Get method

In [ ]:
d.get('Place')

'Bangalore'

### Pop method

In [ ]:
d.pop('Place')
print(d)

## Concatenate dictionaries

Use update method

In [ ]:
d1 = {'Key': 100}
d2 = {'Element':200}
d3 = {}

d3.update(d1)
d3.update(d2)

# Tuple

In [ ]:
# List -> a=[]
a = ()
type(a)

In [ ]:
a = (1, 2, 3, 4)
a

In [ ]:
b = (13,) # For single element
b

In [ ]:
a = (10, 20, 30, 40)

#a[index_position] ->list and tuple
#a[Key] -> Dictionary

In [ ]:
a[2]

In [ ]:
# List -> Mutable -> Able to mutate
b = [1,2, 3, 4]
b[0] = 5
b

In [ ]:
# Tuple -> Unmutable
b = (1, 2, 3, 4)
b[0] = 5
b

In [ ]:
a = (1, 2, 3, 4)
a[0] # Index position

In [ ]:
#dict_keys([])

In [ ]:
# Convert tuple to list
a = list(a)
a

In [ ]:
a = (1,2 ,3 ,4)
a.index(2)

In [ ]:
b = (10, 20, 10, 10, 30)
b.count(10)

# Sets

Set is unordered collection of unique elements (Does not contain duplicate elements). Sets are mutable, change elements with built-in functions like add(), remove() etc. Represented by {} or set().

In [ ]:
#a = {key:value} # Dictionary has a key value pair
#a = {1, 2, 3} # Set is a comma seperated value

#### Sets

a = set()
a = {}

In [ ]:
fruits = {"Apple", "Banana", "Cherry", "Apple", "Kiwi", "Mango"}

print(set(fruits))

In [ ]:
fruits.add("Orange")
print(set(fruits))

In [ ]:
fruits.remove("Banana")
print('Banana in fruits:', "Banana" in fruits)
print(set(fruits))

In [ ]:
fruits.remove('Banana') # Throws error if not present
#fruits.discard('Banana') # Does not throw error even if banana not present

In [ ]:
fruits.discard("Banana") # If it is not present, I will discard your statement and does not throw error.
fruits

In [ ]:
fruits = {"Apple", "Banana", "Cherry", "Apple", "Kiwi"}
print(set(fruits))

# Add new fruits
fruits.add("Orange")
print(set(fruits))

# Remove fruit
fruits.remove("Banana")
print(set(fruits))

# discard function -> Return none unlike remove which raise error

fruits.discard("Banana")
fruits.discard("Kiwi")
print(set(fruits))

#fruits.remove("Banana")

#FORMATTING

In [ ]:
s = 'bangalore'
print(s)

In [ ]:
a = 'delhi'

print('Hello my place is', a)

In [ ]:
a = 60
print('The value of', str(a),' is ' + str(a))

In [ ]:
a = 52
print('The value of a is', a)

Two types of formatting
1. Using 'f'
2. Using format

In [ ]:
a = 'Chennai'
b = 'Delhi'

print(f'My place is {a} and {b}, these are clean cities')

In [ ]:
a = 'Bangalore'
b = 'Delhi'
print('My place is', a + ' and ' + b + ' my city is clean')

In [ ]:
# Format method -> Using format keyword
a = 'bangalore'
b = 'delhi'
c = 'Chennai'

print('I like these cities in India, they are {}, {}, {}'.format(a,b,c))

In [ ]:
#formatted in string
a = 55
b = 75
print(f'{a} is the right value and {b} is not the right value')

In [ ]:
b = 75
print('the {} is the right {} value'.format(a,b))

In [ ]:
b = 75
print('the {} is the right {} value'.format(b,a)) # a,b is called as an positional arguments

#### Round

In [ ]:
2.3+3.4

In [ ]:
a = 10/3
a

In [ ]:
print(round(a)) # < 0.5 , > 0.5

In [ ]:
print(round(a, 3))

In [ ]:
print('{:.3f} is the right value'.format(a))

In [ ]:
round(a,4)

#### floor
#### 1. will change/ reduce absolute 3.9

In [ ]:
import math

In [ ]:
a = 3.99999
print(math.floor(a))
print(round(a))

In [ ]:
#### ceil
#### 1. will change/ increase absolute 3.9

In [ ]:
a = 3.00001
math.ceil(a)

In [ ]:
a = 4.0999
print(math.ceil(a)) # increment a value to absolute number
print(math.floor(a))# decrement a value to absolute number
print(round(a))# when a number is greater than or equal to 0.5 it will increment or it will decrement

In [ ]:
a = 4.499999
round(a)

In [ ]:
a = 10/2
round(a,5) # can only decrement the decimal places

In [ ]:
a = 4.5486

In [ ]:
print('the {:.3f} is the right value'.format(a))

##### Next line print and tab print

In [ ]:
print('Hi this is the world\nHi there')

In [ ]:
print('Hi this is world \n Hi there')# \n next line

In [ ]:
print('Hi this is world\t\tHi there') # \t tab seperated

# Input

In [ ]:
b = input()

In [ ]:
a = input() # int(input())
type(a)

In [ ]:
a = int(input())
type(a)

In [ ]:
a = float(input())
a

In [ ]:
a = input()
a

In [ ]:
a = a.split()
print(a)

In [ ]:
a[0] = int(a[0])
a[1] = int(a[1])
a[2] = int(a[2])
print(a)

In [ ]:
# Map function
# syntax -> map(function, list)
a = '10 20 30 40'
a = a.split() #['10', '20'...]

print(list(map(int, a)))

In [ ]:
a = '5 10 15 20'
a = a.split()
a = list(map(int, a))
a

map(fun, iter) fun-> function, iter-> variables

In [ ]:
a = '5 10 15 20'

In [ ]:
a = a.split()
b = map(int, a)
print(b)
print(list(b))

In [ ]:
a = input()
a = a.split()
b = map(int, a)
b = list(b)
b

In [ ]:
result = list(map(int, input().split()))
result

In [ ]:
a = list(map(int, input().split()))
a

In [ ]:
a = list(map(int, input().split()))
a

Map function and input

map(fun, iter) fun-> function, iter-> variables

In [ ]:
#map(fun, iter) fun-> function, iter-> variables

In [ ]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]

float_nums = map(float, str_nums)
print(list(float_nums))

In [ ]:
# input = 10 20 30 40
# sum of all = 100

a = list(map(int, input().split()))
print(a)

In [ ]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]

int_nums = map(int, str_nums)
print(list(int_nums))

In [ ]:

# List of strings
l = ['sat', 'bat', 'cat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

ASCII A-Z 65 -90 a-z 97-112

In [ ]:
alpha = 'ABCDEFGHIJKLMNO'
d = {}
for i in alpha:
  d[i] = ord(i)

d

In [ ]:
ord('S')

In [ ]:
chr(78)

In [ ]:
chr(ord('A')+2)

#Join

In [ ]:
a = 'I like Pizza'
'b'.join(a)

In [ ]:
a = 'I like Pizza'
b = 'b'.join(a)
b = b.split()
b

In [ ]:
a = ['I', 'like', 'Pizza']
'b '.join(a)

# Range

In [ ]:
print(range(0,8)) # -> 0, 1, 2, 3, 4, 5, 6, 7

In [ ]:
print(range(1, 10, 2))

# Reminder, Quotient (%, // -> floor)

In [ ]:
a = 10
b = a/2
b

In [ ]:
b = 33//5
b

In [ ]:
b = 33%5
b

In [ ]:
b = 13//5
print(b)